@tailwind base;
@tailwind components;
@tailwind utilities;
.donation{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.donation2{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
.body {
 
   
    background-image: radial-gradient(ellipse at top, #1e293b 0%, #0f172a 80%);
  }

  

  .meteor-1, .meteor-2, .meteor-3 {
    position: absolute;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5s linear infinite;
  }
  
  .meteor-1 {
    top:10%;
    left: 20%;
    animation-duration: 4.5s;
  }
  
  .meteor-2 {
    top:20%;
    left: 40%;
    animation-duration: 6.3s;
  }
  
  .meteor-3 {
    top:30%;
    left: 70%;
    animation-duration: 5.8s;
  }

  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Additional styling for meteor head */
  .meteor-1::before, .meteor-2::before, .meteor-3::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }